@media screen and (max-width:1800px) {
    .perkAbout-detail h1 {
        font-size: 55px;
        margin-bottom: 25px;
    }

    .perkAbout-detail p {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    span.pointIcon {
        width: 21px;
        height: 21px;
    }

    span.pointContent {
        font-size: 18px;
    }

    .pointBox {
        gap: 0px 8px;
    }

    .perkAbout-box ul {
        margin-bottom: 35px;
        margin-inline: -15px;
        gap: 10px 0px;
        padding-right: 30%;
    }

    .customCommon-btn,
    .custom-commonBtn {
        font-size: 16px;
        padding: 14px 25px;
        border-radius: 30px;
    }

    .pBlock-100 {
        padding-block: 80px;
    }

    .section-heading h2 {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .section-heading p {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 40px;
    }

    .globally-cover ul {
        margin-bottom: 60px;
        margin-inline: -25px;
        gap: 30px 0px;
    }

    .globally-cover ul li {
        width: 20%;
        padding-inline: 25px;
    }

    .pBlock-60 {
        padding-block: 50px;
    }

    .aboutSection-heading h2 {
        font-size: 26px;
        margin-bottom: 40px;
        line-height: 34px;
    }

    .aboutUs-wrapperCover {
        padding: 45px 30px;
        border-radius: 15px;
    }

    .aboutNumber-detail h3 {
        font-size: 48px;
        margin-bottom: 18px;
    }

    .aboutNumber-detail p {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .aboutSection-cover ul {
        margin-inline: -10px;
        gap: 20px 0px;
        margin-bottom: 60px;
    }

    .exclusiveTab-link {
        font-size: 19px;
        padding: 15px 40px;
    }

    .exclusiveTab-body {
        padding: 45px 60px;
        border-radius: 20px;
    }

    .exclusiveTab-body ul {
        margin-inline: -40px;
        margin-bottom: 40px;
        gap: 25px 0px;
    }

    .exclusiveTab-body ul li {
        width: 20%;
        padding-inline: 40px;
    }

    .supporting-wrapper .section-heading h2 {
        margin-bottom: 16px;
    }

    .supporting-wrapper .section-heading p {
        margin-bottom: 25px;
    }

    .supporting-wrapper .custom-row {
        margin-inline: -20px;
    }

    .supporting-wrapper .custom-row .pe-1 {
        padding-inline: 20px !important;
    }

    .supporting-wrapper .custom-row .ps-1 {
        padding-left: 20px !important;
    }

    .employeeSection-Box ul {
        margin-inline: -20px;
        gap: 25px 0px;
        margin-bottom: 0px;
    }

    .employeeSection-Box ul li {
        width: 25%;
        padding-inline: 20px;
    }

    .employeeBox p {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .employeeBox-images {
        width: 75px;
        height: 75px;
    }

    .serviceDiffer-box {
        border-radius: 20px;
        padding: 27px;
    }

    .contactFrom-wrapper .section-heading h2 {
        font-size: 21px;
        line-height: 31px;
        margin-bottom: 20px;
    }

    .contactSection-heading h2 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .contactSection-heading p,
    .contactSection-heading h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .contactForm-container .row .col-12+.col-12:has(.form-group) {
        margin-top: 15px;
    }

    .formSubmit-btn {
        padding-block: 15px;
        font-size: 18px;
        border-radius: 30px;
    }

    .contactSection-cover ul li+li {
        margin-top: 18px;
    }

    section.aboutSection-wrapper .custom-row {
        margin-inline: -20px;
    }

    section.aboutSection-wrapper .custom-row .pd-1 {
        padding-inline: 20px;
    }
}

@media screen and (max-width:1680px) {
    .perkAbout-detail h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .perkAbout-detail p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .perkAbout-heading {
        margin-bottom: 45px;
    }

    .customCommon-btn,
    .custom-commonBtn {
        font-size: 16px;
        padding: 13px 23px;
        border-radius: 28px;
    }

    .section-heading h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .section-heading p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 35px;
    }

    .globally-cover ul {
        margin-bottom: 45px;
        margin-inline: -20px;
        gap: 25px 0px;
    }

    .globally-cover ul li {
        width: 20%;
        padding-inline: 20px;
    }

    .pBlock-100 {
        padding-block: 60px;
    }

    .pBlock-60 {
        padding-block: 45px;
    }

    .aboutSection-heading h2 {
        font-size: 24px;
        margin-bottom: 35px;
        line-height: 30px;
    }

    .aboutWrapper-imageCover {
        margin-bottom: -64%;
    }

    .aboutNumber-detail h3 {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .aboutNumber-detail {
        min-height: 150px;
        border-radius: 15px;
        height: 100%;
        padding-left: 20px;
    }

    .aboutSection-cover ul {
        margin-inline: -10px;
        gap: 20px 0px;
        margin-bottom: 50px;
    }

    .exclusiveTab-link {
        font-size: 18px;
        padding: 13px 35px;
    }



    .exclusiveTab-link.active::after {
        width: 70%;
        height: 4px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }

    .exclusiveTab-body {
        padding: 35px 50px;
        border-radius: 20px;
    }

    .exclusiveTab-body ul {
        margin-inline: -30px;
        margin-bottom: 40px;
        gap: 30px 0px;
    }

    .exclusiveTab-body ul li {
        width: 20%;
        padding-inline: 30px;
    }

    .pBlock-50 {
        padding-block: 40px;
    }

    .supporting-wrapper .section-heading h2 {
        margin-bottom: 13px;
    }

    .supporting-wrapper .section-heading p {
        margin-bottom: 23px;
    }

    .employeeBox p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .employeeSection-Box ul {
        margin-inline: -18px;
        gap: 23px 0px;
        margin-bottom: 0px;
    }

    .employeeBox-images {
        width: 70px;
        height: 70px;
    }

    .brandSlider-content p {
        font-size: 18px;
    }

    .brandSlider-box {
        height: 325px;
        border-radius: 20px;
    }

    .brand-slide {
        padding-inline: 8px;
    }

    .serviceIcon {
        width: 50px;
    }

    .serviceIcon-content {
        width: calc(100% - 50px);
        margin-left: 16px;
    }

    .serviceIcon-content h3 {
        font-size: 19px;
        line-height: 22px;
    }

    .serviceDiffer-box {
        border-radius: 18px;
        padding: 25px;
    }

    .contactFrom-wrapper .section-heading h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .contact-wrapper .custom-row {
        margin-inline: -40px;
    }

    .contact-wrapper .custom-row .pd-1 {
        padding-inline: 40px;
    }

    .contactSection-heading h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
    }

    .contactSection-heading p,
    .contactSection-heading h3 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    span.pointContent {
        font-size: 17px;
    }

    .contactSection-cover .pointBox {
        gap: 0px 15px !important;
    }

    span.pointIcon {
        width: 20px;
        height: 20px;
    }

    .formSubmit-btn {
        padding-block: 14px;
        font-size: 17px;
        border-radius: 30px;
    }

    .formSubmit {
        margin-top: 25px;
    }

    .clientWrapper .section-heading::before {
        background-size: 155px 125px;
        left: -40px;
        z-index: -1;
    }

    .clientWrapper .section-heading h2 {
        color: #31356D;
        line-height: 31px;
        padding-bottom: 150px;
        margin-bottom: 60px;
    }

    .clientTestimonial-wrapper .custom-row {
        margin-inline: -25px;
    }

    .clientTestimonial-wrapper .custom-row .pd-1 {
        padding-inline: 25px;
    }

    .clientTestimonial-icon {
        width: 75px;
        height: 75px;
        top: -37px;
        left: 50%;
        transform: translateX(-50%);
    }

    .clientTestimonial-content {
        padding: 30px 18px;
        border-radius: 20px;
        padding-top: 60px;
    }

    .clientTestimonial-content p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .clientTestimonial-cover .slick-arrow {
        width: 50px;
        height: 35px;
        border-radius: 20px;
        top: 78%;
        transform: translateY(-22%);
    }

    .clientTestimonial-cover .slick-arrow::before {
        background-size: 25px 15px;
    }

    .clientTestimonial-cover {
        margin-inline: -15px;
    }

    .clientTestimonial-contentBox {
        padding-inline: 15px;
    }

    .clientTestimonial-content {
        padding: 25px 18px;
        border-radius: 20px;
        padding-top: 50px;
    }

    section.aboutSection-wrapper .custom-row {
        margin-inline: -15px;
    }

    section.aboutSection-wrapper .custom-row .pd-1 {
        padding-inline: 15px;
    }

    .aboutUs-wrapperCover .col-lg-3 {
        width: 20%;
    }

    .aboutUs-wrapperCover .col-lg-9 {
        width: 80%;
    }

    li.exclusiveTab-item:first-child a.exclusiveTab-link.active::before,
    li.exclusiveTab-item:first-child a.exclusiveTab-link:hover:before {
        width: 28px;
        height: 30px;
        left: -6px;
        bottom: -18px;
    }

    li.exclusiveTab-item:last-child a.exclusiveTab-link.active::before,
    li.exclusiveTab-item:last-child a.exclusiveTab-link:hover:before {
        width: 28px;
        height: 30px;
        right: -6px;
        bottom: -20px;
    }
}

@media screen and (max-width:1480px) {
    .container {
        max-width: 95%;
    }

    .perkAbout-detail h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .perkAbout-detail p {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .perkAbout-heading {
        margin-bottom: 35px;
    }

    .perkAbout-images {
        margin-top: 20px;
        display: flex;
        height: 100%;
        align-items: end;
    }

    span.pointContent {
        font-size: 16px;
    }

    .customCommon-btn,
    .custom-commonBtn {
        font-size: 15px;
        padding: 11px 21px;
        border-radius: 30px;
    }

    .pBlock-100 {
        padding-block: 50px;
    }

    .section-heading h2 {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .section-heading p {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .globally-cover ul {
        margin-bottom: 35px;
        margin-inline: -15px;
        gap: 20px 0px;
    }

    .globally-cover ul li {
        width: 20%;
        padding-inline: 15px;
    }

    .pBlock-60 {
        padding-block: 40px;
    }

    .aboutSection-heading h2 {
        font-size: 23px;
        margin-bottom: 30px;
        line-height: 27px;
    }

    .aboutNumber-detail h3 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .aboutNumber-detail p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .aboutNumber-detail {
        min-height: 130px;
        border-radius: 14px;
        height: 100%;
        padding-left: 20px;
    }

    .aboutUs-wrapperCover>.row>.col-lg-3 .aboutWrapper-imageCover {
        margin-right: -65px;
    }

    .aboutWrapper-imageCover {
        margin-bottom: -68%;
    }

    .aboutSection-cover ul {
        margin-inline: -8px;
        gap: 17px 0px;
        margin-bottom: 40px;
    }

    .aboutSection-cover ul li {
        width: 33.333%;
        flex: 0 0 auto;
        padding-inline: 8px;
    }

    .exclusiveTab-list {
        padding-inline: 6%;
    }

    .exclusiveTab-link {
        font-size: 17px;
        padding: 10px 30px;
    }

    .exclusiveTab-body {
        padding: 30px 40px;
        border-radius: 18px;
    }

    .exclusiveTab-body ul {
        margin-inline: -20px;
        margin-bottom: 45px;
        gap: 25px 0px;
    }

    .exclusiveTab-body ul li {
        width: 20%;
        padding-inline: 20px;
    }

    .supporting-wrapper .section-heading h2 {
        margin-bottom: 13px;
    }

    .supporting-wrapper .section-heading p {
        margin-bottom: 20px;
    }

    .employeeSection-Box ul {
        margin-inline: -15px;
        gap: 20px 0px;
        margin-bottom: 0px;
    }

    .employeeSection-Box ul li {
        width: 25%;
        padding-inline: 15px;
    }

    .employeeBox p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .brand-slide {
        padding-inline: 5px;
    }

    .brandSlider-content p {
        font-size: 16px;
    }

    .brandSlider-box {
        height: 300px;
        border-radius: 20px;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .serviceDiffer-box {
        border-radius: 15px;
        padding: 20px;
    }

    .serviceIcon {
        width: 45px;
    }

    .serviceIcon-content {
        width: calc(100% - 45px);
        margin-left: 15px;
    }

    .serviceIcon-content h3 {
        font-size: 17px;
        line-height: 21px;
    }

    .contactFrom-wrapper .section-heading h2 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .contact-wrapper .custom-row {
        margin-inline: -25px;
    }

    .contact-wrapper .custom-row .pd-1 {
        padding-block: 25px;
    }

    .contactForm-container .row .col-12+.col-12:has(.form-group) {
        margin-top: 15px;
    }

    .contactSection-heading h2 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 18px;
    }

    .aboutUs-wrapperCover>.row>.col-lg-3 .aboutWrapper-imageCover {
        margin-right: -34px !important;
        margin-bottom: -64% !important;
    }

    .contactSection-heading p,
    .contactSection-heading h3 {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .contactSection-cover ul li+li {
        margin-top: 18px;
    }

    .contactSection-cover .pointBox {
        gap: 0px 10px !important;
    }

    .clientWrapper .section-heading h2 {
        color: #31356D;
        line-height: 30px;
        padding-bottom: 140px;
        margin-bottom: 50px;
    }

    .clientWrapper .section-heading::before {
        background-size: 130px 100px;
        left: -30px;
        z-index: -1;
    }

    .clientTestimonial-wrapper .custom-row {
        margin-inline: -20px;
    }

    .clientTestimonial-wrapper .custom-row .pd-1 {
        padding-block: 20px;
    }

    .clientTestimonial-cover {
        margin-inline: -10px;
    }

    .clientTestimonial-contentBox {
        padding-inline: 10px;
    }

    .clientTestimonial-cover .slick-list .slick-track {
        padding-block: 36px;
    }

    .contact-wrapper .custom-row {
        margin-inline: -15px;
    }

    .contact-wrapper .custom-row .pd-1 {
        padding-block: 15px !important;
    }

    .swiperSlide-btn button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 16px;
    }
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 100%;
    }

    .exclusiveTab-body ul {
        margin-inline: -15px;
        margin-bottom: 40px;
        gap: 20px 0px;
    }

    .exclusiveTab-body ul li {
        width: 20%;
        padding-inline: 15px;
    }

    .supporting-wrapper .custom-row {
        margin-inline: -15px;
    }

    .supporting-wrapper .custom-row .ps-1 {
        padding-left: 15px !important;
    }

    .supporting-wrapper .custom-row .pe-1 {
        padding-inline: 15px !important;
    }

    .clientTestimonial-wrapper .custom-row {
        margin-inline: -15px;
    }

    .clientTestimonial-wrapper .custom-row .pd-1 {
        padding-block: 15px;
    }

    .perkAbout-detail h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .perkAbout-box ul {
        margin-bottom: 30px;
        margin-inline: -15px;
        gap: 10px 0px;
        padding-right: 20%;
    }

    .perkAbout-images {
        margin-top: 0px;
        display: flex;
        height: 100%;
        align-items: end;
    }

    .section-heading h2 {
        font-size: 19px;
        margin-bottom: 4px;
    }

    .section-heading p {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 25px;
    }

    .customCommon-btn,
    .custom-commonBtn {
        font-size: 14px;
        padding: 10px 20px;
        border-radius: 30px;
    }

    .exclusiveTab-link {
        font-size: 16px;
        padding: 10px 25px;
    }

    .exclusiveTab-link.active::after {
        width: 70%;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }

    .aboutNumber-detail h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .aboutNumber-detail {
        min-height: 110px;
        border-radius: 14px;
        height: 100%;
        padding-left: 18px;
    }

    .employeeBox p {
        font-size: 15px;
        margin-bottom: 0px;
        line-height: 18px;
    }

    .employeeBox-images {
        width: 65px;
        height: 65px;
    }

    .clientWrapper .section-heading::before {
        background-size: 129px 100px;
        left: -15px;
        z-index: -1;
    }
}

@media screen and (max-width:992px) {

    .aboutUs-wrapperCover .col-lg-3,
    .aboutUs-wrapperCover .col-lg-9 {
        width: 100%;
    }

    .support-image {
        position: relative;
    }

    .aboutWrapper-imageCover {
        display: none !important;
    }

    .aboutSection-heading {
        text-align: center;
    }

    .exclusiveTab-link {
        font-size: 14px;
        padding: 10px 0px;
    }

    .perkAbout-detail h1 {
        font-size: 33px;
        margin-bottom: 15px;
    }

    .perkAbout-detail p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .perkAbout-images {
        margin-top: 0px;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .pBlock-100 {
        padding-block: 40px;
    }

    .section-heading h2 {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .globally-cover ul {
        margin-bottom: 30px;
        margin-inline: -15px;
        gap: 15px 0px;
    }

    .aboutSection-cover ul li {
        width: 50%;
        flex: 0 0 auto;
        padding-inline: 8px;
    }

    .contactFrom-wrapper .section-heading h2 {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 15px;
    }

    .contactForm-container .row .col-12+.col-12:has(.form-group) {
        margin-top: 10px;
    }

    .formSubmit-btn {
        padding-block: 10px;
        font-size: 16px;
        border-radius: 30px;
    }

    .contactSection-heading h2 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    span.pointContent {
        font-size: 15px;
    }

    span.pointIcon {
        width: 18px;
        height: 18px;
    }

    .contactSection-cover .pointBox {
        gap: 0px 8px !important;
    }
}

@media screen and (max-width:768px) {
    .perkAbout-heading {
        margin-bottom: 30px;
        text-align: center;
    }

    .perkAbout-box ul {
        margin-bottom: 30px;
        margin-inline: -15px;
        gap: 10px 0px;
        padding-right: 0;
        max-width: 65%;
    }

    .perkAbout-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perkAbout-wrapper {
        background: linear-gradient(to bottom, #e3ecfc, #f8f8f8);
        padding-bottom: 0px !important;
    }

    .pBlock-50 {
        padding-block: 30px;
    }

    .perkAbout-detail p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    span.pointIcon {
        width: 15px;
        height: 15px;
    }

    span.pointContent {
        font-size: 14px;
    }

    .pointBox {
        gap: 0px 6px;
    }

    .perkAbout-images {
        margin-top: 0px;
        display: flex;
        height: 100%;
        align-items: center;
        margin-inline: -15px;
    }

    .perkAbout-images img {
        width: 100%;
    }

    .pBlock-100 {
        padding-block: 30px;
    }

    .section-heading h2 {
        font-size: 17px;
        margin-bottom: 4px;
    }

    .section-heading p {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 20px;
    }

    .globally-cover ul {
        margin-bottom: 30px;
        margin-inline: -15px;
        gap: 10px 0px;
    }

    .globally-cover ul li {
        width: 25%;
        padding-inline: 15px;
    }

    .pBlock-60 {
        padding-block: 30px;
    }

    .authorizeTicket-logoSlider {
        position: relative;
        padding-inline: 25px;
    }

    .swiperSlide-btn button.swiperCustom-prev {
        left: -5px;
        transform: translateY(-50%) rotate(180deg);
    }

    .swiperSlide-btn button.swiperCustom-next {
        right: -5px;
    }

    .swiperSlide-btn button {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        font-size: 14px;
    }

    .aboutWrapper-imageCover {
        display: none;
    }

    .aboutSection-heading {
        text-align: center;
    }

    .aboutSection-heading h2 br {
        display: none;
    }

    .swiperImage {
        display: flex;
        justify-content: center;
    }

    .aboutSection-cover ul {
        margin-inline: -8px;
        gap: 15px 0px;
        margin-bottom: 30px;
    }

    .aboutUs-wrapperCover {
        padding: 35px 25px;
        border-radius: 15px;
    }

    .exclusiveTab-list {
        padding-inline: 3%;
    }

    .exclusiveTab-link {
        font-size: 14px;
        padding: 9px 20px;
    }

    .exclusiveTab-body ul li {
        width: 25%;
        padding-inline: 15px;
    }

    .support-image {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: -9%;
    }

    .supporting-wrapper {
        background: linear-gradient(to bottom, #ffffff, #245AD4);
    }

    .section-heading {
        text-align: center;
    }

    section.employee-wrapper {
        margin-top: 30px;
    }

    section.employee-wrapper .col-12:has(.eployeeSection-heading) {
        order: -1;
    }

    .employeeBox-images {
        width: 60px;
        height: 60px;
    }

    .employeeBox-images img {
        height: 33px;
    }

    .employee-image {
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }

    .brandSlider-box {
        height: 270px;
        border-radius: 20px;
    }

    .contact-wrapper .row .col-12:has(.contactWrapper-cover) {
        order: -1;
    }

    .contactWrapper-cover {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        text-align: center;
    }

    .contactSection-heading p,
    .contactSection-heading h3 {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 9px;
    }

    .contactSection-heading {
        margin-bottom: 10px;
    }

    .contactFrom-wrapper .section-heading {
        text-align: left;
    }

    .form-group label {
        font-size: 13px;
        margin-bottom: 0px;
        line-height: 19px;
        margin-bottom: 4px;
    }

    .formSubmit-btn {
        padding-block: 8px;
        font-size: 14px;
        border-radius: 30px;
    }

    .clientWrapper .section-heading h2 {
        color: #31356D;
        line-height: 30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }

    .clientWrapper .section-heading {
        position: relative;
        padding-left: 20px;
        z-index: 99;
        align-items: center;
        display: inline-flex;
        height: 78px;
    }

    .clientWrapper {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    section.clientTestimonial-wrapper {
        padding-top: 20px;
    }

    .clientWrapper .section-heading::before {
        background-size: 90px 78px;
        left: -15px;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
    }

    .clientWrapper .section-heading h2 {
        color: #31356D;
        line-height: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .clientTestimonial-cover {
        position: relative;
        padding-bottom: 25px;
    }

    .clientTestimonial-cover .slick-arrow {
        width: 50px;
        height: 35px;
        border-radius: 20px;
        top: initial;
        bottom: 0px;
        transform: translateY(0);
    }

    .clientTestimonial-cover .slick-next {
        left: 57%;
        transform: translateX(-43%) !important;
    }

    .clientTestimonial-cover .slick-prev {
        left: 47%;
        transform: translateX(-53%) !important;
    }

    .aboutSection-image {
        display: none;
    }

    .aboutSection-imageHeading .section-heading ul {
        text-align: left;
    }

    .aboutSection-imageHeading .section-heading ul+p {
        text-align: left;
    }
}

@media screen and (max-width:676px) {
    .globally-cover ul li {
        width: 33.33%;
        padding-inline: 15px;
    }

    .globally-cover ul {
        margin-bottom: 30px;
        margin-inline: -15px;
        gap: 15px 0px;
    }

    .perkAbout-detail p {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .customCommon-btn,
    .custom-commonBtn {
        font-size: 13px;
        padding: 10px 20px;
        border-radius: 30px;
    }

    .exclusiveTab-body ul li {
        width: 33.333%;
        padding-inline: 15px;
    }

    .exclusiveTab-image {
        display: inline-flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .employeeBox p {
        font-size: 13px;
        margin-bottom: 0px;
        line-height: 18px;
    }

    .serviceIcon-content h3 {
        font-size: 15px;
        line-height: 21px;
    }
}

@media screen and (max-width:575px) {
    .aboutNumber-detail {
        min-height: 100%;
        border-radius: 12px;
        height: 100%;
        padding-left: 18px;
        padding-block: 14px;
    }
    .exclusiveTab-link {
        font-size: 10px;
        padding: 7px 0px;
        text-align: center;
    }
    .clientTestimonial-content{
        min-height: auto !important;
    }
    .exclusiveTab-link.active, .exclusiveTab-link.active:hover, .exclusiveTab-link:hover {
        color: #fff !important;
        font-weight: 700;
        background-color: #4769D2;
        border-radius: 20px 20px 0px 0px;
    }
    .aboutNumber-detail h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .aboutNumber-detail p {
        font-size: 14px;
        margin-bottom: 0px;
    }

   

    .exclusiveTab-list {
        padding-inline: 0%;
    }

   

    .exclusiveTab-link.active::after {
        height: 2px;
        border-radius: 5px;
    }



    .clientTestimonial-cover .slick-prev {
        left: 43%;
        transform: translateX(-57%) !important;
    }

    .clientTestimonial-cover .slick-next {
        left: 58%;
        transform: translateX(-42%) !important;
    }

    .contact-wrapper .custom-row .pd-1 {
        padding-inline: 15px !important;
    }
}

@media screen and (max-width:475px) {
    .perkAbout-detail h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .perkAbout-heading {
        margin-bottom: 20px;
        text-align: center;
    }

    .perkAbout-box ul {
        margin-bottom: 30px;
        margin-inline: -15px;
        gap: 10px 0px;
        padding-right: 0;
        max-width: 100%;
    }

    .section-heading h2 {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .aboutSection-cover ul li {
        width: 100%;
        flex: 0 0 auto;
        padding-inline: 8px;
    }

    .exclusiveTab-link {
        font-size: 10px;
        padding: 8px 8px;
        text-align: center;
    }

    .exclusiveTab-body {
        padding: 20px 20px;
        border-radius: 10px;
    }
    .exclusiveTab-link {
        font-size: 9px;
        padding: 8px 0px;
        text-align: center;
    }
    .customCommon-btn,
    .custom-commonBtn {
        font-size: 12px;
        padding: 8px 15px;
        border-radius: 30px;
    }

    span.moreIcon img {
        height: 13px;
    }

    .moreBtn {
        display: inline-flex;
        align-items: center;
        gap: 0px 15px;
    }

    .exclusiveTab-body ul {
        margin-inline: -15px;
        margin-bottom: 25px;
        gap: 20px 0px;
    }
}